@font-face {
  font-family: 'Muller';
  src: url('/assets/fonts/MullerBold.eot');
  src: url('/assets/fonts/MullerBold.woff2') format('woff2'),
  url('/assets/fonts/MullerBold.woff') format('woff'),
  url('/assets/fonts/MullerBold.ttf') format('truetype'),
  url('/assets/fonts/MullerBold.svg#MullerBold') format('svg'),
  url('/assets/fonts/MullerBold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Muller';
  src: url('/assets/fonts/MullerExtraBold.eot');
  src: url('/assets/fonts/MullerExtraBold.woff2') format('woff2'),
  url('/assets/fonts/MullerExtraBold.woff') format('woff'),
  url('/assets/fonts/MullerExtraBold.ttf') format('truetype'),
  url('/assets/fonts/MullerExtraBold.svg#MullerExtraBold') format('svg'),
  url('/assets/fonts/MullerExtraBold.eot?#iefix') format('embedded-opentype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Muller';
  src: url('/assets/fonts/MullerRegular.eot');
  src: url('/assets/fonts/MullerRegular.woff2') format('woff2'),
  url('/assets/fonts/MullerRegular.woff') format('woff'),
  url('/assets/fonts/MullerRegular.ttf') format('truetype'),
  url('/assets/fonts/MullerRegular.svg#MullerRegular') format('svg'),
  url('/assets/fonts/MullerRegular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
